.image-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  object-fit: contain;
  height: 100%;
}

.selection-buttons-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50px;
}

.selection-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.grid-lines {
  border: 1px solid red; /* Change color as needed */
}

.video-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-player-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.minimap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w3-modal-content-custom {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures image maintains aspect ratio */
  margin: 0 auto; /* Centers the image */
  display: block;
  overflow-x: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  position: fixed; /* Make it cover the entire screen */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Make sure it's on top */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: auto;
  object-fit: contain;
}
