.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    height: 5vh;
    width: 100%;
    position: fixed;
}


.spacerMain {
    height: 60px;
    margin-left: 50px;
    width: +25%;
}
.navbar-title {
    font-size: 24px;
    /*margin-left: 20px;*/
    padding: 10px 20px;
    height: 60px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--accent-color);
    text-decoration: none;
    position: fixed;
    width: 100%;
    margin-bottom: 60px;
}

.navbar-menu-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
}

.navbar-menu-button:hover {
    color: var(--foreground-color);
}

.sidebar {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*position: fixed;*/
    /*top: calc(5vh + 20px);*/
    /*left: -300px;*/
    /*width: 250px;*/
    /*height: 95vh;*/
    color: var(--foreground-color);
    background-color: var(--accent-color);
    margin-top: 60px;
    margin-right: 200px;

    /*color: var(--text-color);*/
    /*transition: left 0.3s ease;*/
}

.sidebar.open {
    left: 0;
}

.sidebar-item {
    padding: 15px 20px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar-item:hover {
    background-color: var(--foreground-color);
}