
.button {
    background: var(--button-color)
}

.pagecontainer {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 60px);
    width: 100%;
    overflow-x: hidden;
}

.text {
    z-index: 1;
}

.scrolling-background1, .scrolling-background2 {
    position: absolute;
    background-image: url("../../../public/gandr-collage (2).webp");
    width: 200%;
    height: 100%;
    background-size: cover;
    background-position: top left;
    overflow: hidden;
    opacity: .5;
    z-index: 0;
}

.scrolling-background1 {
    animation: scroll1 75s linear infinite;
}

.scrolling-background2 {
    animation: scroll2 75s linear infinite;
}

@keyframes scroll1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.button-container {
    display: flex;
    justify-content: center; /* Align buttons in the center */
    gap: 20px; /* Space between the buttons */
    margin-top: 20px; /* Optional: Space above the buttons */
}

.w3-button.button {
    max-width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the button horizontally */
}