.contentBox {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.controlBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
}

.cb-Item {
    background-color: red;
}

.artCard {
    background-color: green;
    margin: 50px;
}



