:root {
  --background-color: #210B2C;
  --accent-color: #55286F;
  --foreground-color: #BC96E6;
  --text-color: #D8B4E2;
  --button-color: #AE759F;
  --button-text-color: #55286F;
}

@media (min-width: 992px) {
  .spaceopen{
    margin-left: 200px;
    transition: margin-left 0.45s;
  }
}

.spaceclosed {
  margin-left: 200px;
  transition: margin-left 0.45s;
}

