:root {
  --background-color: #210B2C;
  --accent-color: #55286F;
  --foreground-color: #BC96E6;
  --text-color: #D8B4E2;
  --button-color: #AE759F;
  --button-text-color: #55286F;
}

body, html {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*background-color: var(--background-color);*/
}

.title {
  font-size: 2.5rem;
  color: var(--text-color);
  margin: 50px;
}

.blurb {
  font-size: 1.25rem;
  color: var(--text-color);
}

.pagecontainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.button {
  color: var(--background-color);
  background: var(--button-color)
}

@media (min-width: 992px) {
  .spacer {
    margin-left: 200px;
  }
}

.feedback-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-color); /* Green */
  color: var(--buttontext-color);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000; /* Ensure it appears above other elements */
}

.feedback-button:hover {
  background-color: white; /* Darker green */
}

/* For mobile devices */
@media (max-width: 992px) {
  .feedback-button {
    width: 50px;  /* Make the button a square */
    height: 50px; /* Same height and width for a square shape */
    padding: 0;   /* Remove padding */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px; /* Adjust font size if needed */
  }
}

