.contentBox {
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
}

.w3-card.ArtCard {
    background-color: var(--foreground-color);
}

.w3-card.ControlBar {
    background-color: var(--foreground-color);
}

