.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.w3-card.ArtCard {
    background-color: var(--foreground-color);
}

.w3-card.ControlBar {
    background-color: var(--foreground-color);
}

